.vercel
.env
.env.local
.env.*.local
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.pot
*.mo
media/
staticfiles/
local_settings.py
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/
.vscode/
.DS_Store
.idea/